<?xml version='1.0' encoding='utf-8'?>
<widget id="info.loveisanalogue.brightbus" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BrightBus</name>
    <description>
        An intuitive bus time application providing bus stop locations, timetables and live bus times in the UK. 
    </description>
    <author email="brightbus@loveisanalogue.info" href="http://brightbus.loveisanalogue.info">
      Alice Heaton
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
      <icon src="res/android/icon-36-ldpi.png" density="ldpi" />
      <icon src="res/android/icon-48-mdpi.png" density="mdpi" />
      <icon src="res/android/icon-72-hdpi.png" density="hdpi" />
      <icon src="res/android/icon-96-xhdpi.png" density="xhdpi" />
    </platform>
</widget>
