<div id='stop-detail-page' class="container-fluid">
  <div class="row row-spacer">
    <div class="col-xs-12 col-sm-4">
      <div class='stop-name'>{{stop.name}}</div>
      <div class='stop-street'>{{stop.street}}</div>
    </div>
  </div>
  <div class="row row-divider">
    <div class="col-xs-2 col-sm-1">
      <a href='#/stops'
         class="glyphicon icon-action glyphicon-arrow-left"></a>
    </div>
    <div class="col-xs-2 col-sm-1">
      <i ng-click="refreshTimes()"
         class="glyphicon icon-action glyphicon-refresh"></i>
    </div>
    <div class="col-xs-2 col-sm-1">
      <i ng-click="toggleStopFavStatus(stop)"
         class="glyphicon icon-toggle"
         ng-class="{true: 'glyphicon-star', false: 'glyphicon-star-empty'}[stop.favourite]"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 stop-times">
      <div ng-bind-html="stop_times"></div>
    </div>
  </div>
</div>
