<div id='stop-list-page' class="container-fluid">
  <bb-list-page-nav></bb-list-page-nav>
  <div class="row">
    <div class="search-form col-xs-12 col-sm-4">
      <input ng-model="query" ng-change="filterChange()" class="form-control" placeholder="Search" />
    </div>
  </div>
  <div class="row">
    <div class="stop-list col-xs-12 col-sm-4">
      <ul>
        <li ng-repeat="stop in stops | wordSearchFilter:query | limitTo: 10">
          <a ng-href="#/stops/{{stop.naptanCode}}">
            <div class='stop-name'>{{stop.name}}</div>
            <div class='stop-lines'>{{stop.lines.join(' ')}}</div>
            <div class='stop-street'>{{stop.street}}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
