#app-container {
  margin-top: 20px;
}

#header {
  position: fixed;
  top: 0;
  z-index: 200;
  right: 15px;
  font-size: 0.8em;
  color: #AAA;
}

i.icon-toggle {
  cursor: pointer;
  font-size: 3em;
  color: #F9A825;
}

div.col-icon {
/*  padding: 0;*/
}

.vertical-align {
  display: flex;
  align-items: center;
}
