#app-container {
  margin-top: 20px;
}

#header {
  position: fixed;
  top: 0;
  z-index: 200;
  right: 15px;
  font-size: 0.8em;
  color: #AAA;
}

i.icon-toggle {
  cursor: pointer;
  font-size: 1.5em;
  color: #2db6d8;
}
