#app-container {
  margin-top: 20px;
}

#header {
  position: fixed;
  top: 0;
  z-index: 200;
  right: 15px;
  font-size: 0.8em;
  color: #AAA;
}

a.icon-action,
i.icon-action {
  cursor: pointer;
  font-size: 21px;
  color: #888;
  text-decoration: none;
}

i.icon-toggle {
  cursor: pointer;
  font-size: 21px;
  color: #2db6d8;
}

.row-divider {
  border-bottom: 2px solid #AAA;
}

.row-spacer {
  padding-bottom: 5px;
}
