#stop-detail-page .stop-times {
  margin-top: 10px;
}

#stop-detail-page .stop-times table {
  width: 100%;
}

#stop-detail-page .stop-times .rowStopName,
#stop-detail-page .stop-times .textHeader,
#stop-detail-page .stop-times .services {
  display: none;
}
